$blue: #3399ff;
$green: #39ac39;
$light-grey: rgba(white, 0.07);

$sans-serif-font: 'Lato';
$serif-font: 'Libre Baskerville';

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-normal: 1rem;

$gap: 3rem;
$gap-half: $gap/2;
$gap-third: $gap/3;
$gap-small: $gap/4;
$gap-tiny: $gap/6;
$gap-double: $gap*2;
$gap-huge: $gap*3;
$gap-super: $gap*4;

$pixel-rem: (1/16)rem;
