<div class="search">
  <div class="search-header">
    <h1>
      Welcome to Inspection Reporting
    </h1>
  </div>
  <div class="search-container">
    <div class="search-input">
      <label for="search-businesses" class="search-input-label">Search</label>
      <input class="search-input-box" #input placeholder="Search by business name, type or inspection type" id="search-businesses"/>
      <button class="search-input-button" (click)="search(keyboardEvent)">Search</button>
    </div>
    <business-list [businessList]="results"></business-list>
  </div>
</div>
